html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum viewport height */
  }
  
  footer {
    flex-shrink: 0; /* Prevent footer from shrinking */
  }