*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: black;
    font-family: Arial, sans-serif;
}
 .navbar{
    width: 100vw;
    height:13vh;
    background-color: white;
    position: fixed;
}

.logo img{
    height:6.4rem;
    width:6.4rem;
    margin-left:0.5rem;
    position: fixed;
}

.elements{
   display: flex;
   justify-content: flex-end;
   align-self: center;
   
      
}

.elements a{
    margin: 2rem 2.5rem;
    height:2rem;
    width:7rem;
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.5rem;
    /* background-color: blueviolet; */
    text-align: center;
    border-radius: 0.5rem;
   
}

 a:hover{
    box-shadow: 4px 2px 2px black;
    font-size: 1.7rem;
}



.content {

    height:100vh;
    width:100vw;
    padding: 20px;                /* Padding for the content area */
    background-color:#000;   /* Light background color for content */
    clear: both;   
    color:#fff;               /* Clear floats if any */
}

.content h1 {
    margin: 6.7rem 0px 4rem 6rem; 
    text-align: center;
    font-size: 3.5rem;
    color:rgb(19, 64, 177);               /* Remove top margin for the heading */
}


.committee_Formation{
    height:30vh;
    width:70vw;
    background-color: rgba(210, 220, 236, 0.601);
    margin: auto;
    border-radius: 1rem;
    box-shadow: 15px 15px 2px rgb(102, 100, 100);
    text-align: center;
}

h2{
    color:black;
    /* text-align: center; */
    padding-top: 0.8rem;
    font-weight: lighter;
}

.committee_Formation p{
    color:black;
    /* text-align: center; */
    padding: 2rem 1rem;
    font-weight: lighter;
    line-height:1.3rem;
}


